* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding-bottom: 20px;
  background-color: rgb(10, 151, 10);
  color: white;
  text-align: center;
}
p {
  font-weight: bolder;
  font-size: x-large;
}
h1 {
  padding-bottom: 20px;
}
.form {
  display: inline;
  padding: 8px;
  border-radius: 3px;
  margin: 30px;
  border: 1px solid white;
}
input,
button {
  padding: 3px;
  border-radius: 3px;
  border: none;
}
input {
  width: 250px;
}
button {
  background-color: rgb(100, 132, 238);
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 50%;
  height: auto;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  border: 1px solid;
}
.para {
  margin: 10px;
  padding: 0 20px;
  line-height: 1.8;
}
